*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
#board {
    border: 1px solid black;
    background-color: rgb(231, 160, 106);
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    height: 500px;
    width: 500px;
    /* gap: 1px */
  
  }

  .snake-head{
    background-color: greenyellow;
  }
  .snake-body{
    background-color: blueviolet;
  }
  .food{
    background-color: red;
  }