@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Iso&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #252525; */
    background-image: url(forest.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
#board {
    border: 5px solid rgb(168, 66, 2);
    /* background-color: rgb(231, 160, 106);/ */
    background-image: url(grassTile.avif);
    /* background-size: cover; */
    background-size: 300px;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    height: 500px;
    width: 500px;
    /* gap: 1px */
  
  }
  #board::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* semi-transparent black */
  }
  #scoreElement{
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 20px;
    color: white;
    z-index: 11;
  }
  .snake-head{
    background-color: greenyellow;
    background-image: url(head.png);
    background-size: cover;
    border: 1px solid ;
    /* transform: scale(1.5); */
    /* transform: rotate(90deg); */
  }
  .snake{
    border: 1px solid ;
    background-color: rgb(25, 145, 27);
  }
  .snake-food{
    /* background-color: red; */
    background-image: url(apple.webp);
    background-size: cover;
    /* animation: blink 1s step-start 0s infinite; */
    
  }
  .snake-food2{
    /* background-color: red; */
    background-image: url(orange.png);
    background-size: cover;
  }
  .snake-food3{
    /* background-color: red; */
    background-image: url(banana.png);
    background-size: cover;
  }
 
  /* @keyframes blink {
    50% {
      opacity: 0.0;
    }
    100%{
      opacity: 1;
    }
  } */

  @media only screen and (max-width:375px){
    #board{
      height: 60vh;
      width:100vw;
      background-image: url(grassTile.avif);
      background-size: cover;
    }
    .loading-page{
      height: 100vh;
      width: 100vw;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  video{
    position: absolute;
    display: none;
    /* background-color: rgb(234, 49, 49); */
    background-size: cover;
    height: 200px;
    width: 300px;
    
  }
   
 .loading-page{
  /* display: none; */
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: url(forest.png);
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .start-game-page{
  height:70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(132, 61, 0, 0.438);

 }
 .start-game-page button{
   background: none;
   border: none;
  background-image: url(woodPlank.png);
  background-size: cover;
  margin: 20px 0px;
  width: 200px;
  height: 60px;
  border-radius: 20px ;
  font-family: 'Rubik Iso', cursive;
  font-size: 25px;
  color: rgb(153, 255, 0);
 }
 .start-game-page button:hover{
  transform: scale(1.2);
 }