*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
#board {
    border: 1px solid black;
    background-color: rgb(231, 160, 106);
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    height: 500px;
    width: 500px;
    /* gap: 1px */
  
  }
  #scoreElement{
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 20px;
    color: white;
    z-index: 11;
  }
  .snake-head{
    background-color: greenyellow;
    background-image: url(head.png);
    background-size: cover;
    /* transform: scale(1.5); */
    /* transform: rotate(90deg); */
  }
  .snake{
    background-color: blueviolet;
  }
  .snake-food{
    /* background-color: red; */
    background-image: url(apple.png);
    background-size: cover;
    /* animation: blink 1s step-start 0s infinite; */
    
  }
  .snake-food2{
    /* background-color: red; */
    background-image: url(orange.png);
    background-size: cover;
  }
 
  /* @keyframes blink {
    50% {
      opacity: 0.0;
    }
    100%{
      opacity: 1;
    }
  } */